@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
:root {
    --color-menuMobile: rgb(143, 148, 167);
    --color-font1: #FFFFFF;
    --color-font2: #B3B2B7;
    --color-primary: #232851;
    --color-secundary: #F3603C;
    --color-thirted: #1d1e25;
    --color-secundary-Trans: #f3613c23;
    --color-fondo: #FAFAFA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 62.5%;
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--color-primary);
    line-height: 1.6;
}


p, a {
    font-size: 1.6rem; 
    color: var(--color-font2);
}

/* -------- HEADER -------- */

.header__container {
    margin: 0 3rem;
    padding-top: 4rem;
}

.header__menu {
    width: 100%;
}

.logo {
    display: inline-block;
}

.logo img {
    margin-top: 1rem;
}

.burguer__container {
    display: inline-block;
    padding: 0.4rem 0.7rem;
    position: absolute;
    right: 3rem;
    top: 4.1rem;
    z-index: 1;
}

.burguer__container:hover {
    background-color: var(--color-secundary);
}

.burguer__container img {
    height: 100%;
    padding-top: 0.5rem;
}


/* Menu Burguer */

#menu__burguer {
    display: none;
}

#menu__burguer:checked ~ .menu__content {
    margin: -30px;
    margin-top: -7.8rem;
    padding: 7.5rem 0;
    transition: 1s;
    width: 100vw;
}

.menu__content {
    background-color: var(--color-menuMobile);
    margin-left: -3rem;
    margin-top: -150%;
    position: absolute;
    width: 100%;
}
/* end burguer */

.menu__list {
    display: flex;
    flex-direction: column;
}

.list__items {
    height: 6rem;
    list-style: none;
    text-align: center;
}

.list__items a {
    color: var(--color-font1);
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    height: 100%;
    padding-top: 2.2rem;
    text-decoration: none;
    width: 100%;
}

.list__items a:hover{
    background-color: var(--color-secundary);
}

.header__buttom {
    display: none;
}
/* END HEADER */


/* -------- MAIN -------- */

.main {
    margin-top: 7rem;
}

.main__home {
    margin: 0 3rem;
}

.illustration__container img {
    width: 100%;
}

.home__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 35rem;
    margin-top: 4rem;
}

.home__text h2 {
    color: var(--color-primary);
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
}

.home__text p {
    color: var(--color-font2);
    line-height: 1.6;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.buttom {
    color: var(--color-font1);
    background-color: var(--color-secundary);
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    /* margin-top: 1rem; */
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    width: 13.4rem;
    box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.54);
}


.buttom:hover {
    background-color: var(--color-font1);
    color: var(--color-secundary);
    border: 1px solid var(--color-secundary);
    box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.54);

}

.buttom__illustration {
    margin-top: 3.6rem;
}

.main__about {
    margin-top: 10rem;
    text-align: center;
}

.about__question {
    margin: 0 2.5rem;
}

.question__text {
    color: var(--color-font2);
    margin-top: 3rem;
}

.about__step {
    margin: 0 0 0 1.5rem;
    margin-top: 5.5rem;
}

.step__list {
    list-style: none;
}

.step__item {
    margin-bottom: 5.4rem;
}

.item__content {
    align-items: center;
    background-color: var(--color-secundary-Trans);
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 5rem;
    display: flex;
    min-height: 4.5rem;
    justify-content: center;
}

.item__buttom {
    align-self: flex-start;
    font-size: 1.6rem;
    margin: 0;
    padding: 1rem 2.5rem;
    width: 6.8rem;
    box-shadow: none;
}

.item__buttom:hover {
    background-color: transparent;
    box-shadow: none;
}

.item__tittle {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 700;
    height: 4.3rem;
    margin: 0;
    padding: 0.8rem 1.4rem;
    text-align: start;
    width: 100%;
}

.item__text {
    color: var(--color-font2);
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-top: 1.8rem;
    margin-right: 2.6rem;
    text-align: start;
}

.main__testimony {
    margin: 0 4.6rem;
    min-height: 120rem;
}

.testimony__container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimony__tittle {
    margin-bottom: 5.5rem;
}

.testimony {
    background-color: var(--color-fondo);
    margin-bottom: 4rem;
    margin-top: 4.6rem;
    padding-bottom: 4rem;
    text-align: center;
}

.testimony__photo {
    height: 7rem;
    margin: 0 auto;
    width: 7rem;
}

.testimony__photo img {
    width: 100%;
    position: relative;
    top: -35px;
}

.testimony__name {
    color: var(--color-primary);
    font-weight: 700;
    margin-bottom: 2.9rem;
}

.testimony__text {
    font-size: 1.5rem;
}

.buttom__testimony {
    align-self: center;
}

.main__banner {
    align-items: center;
    background-color: var(--color-secundary);
    display: flex;
    flex-direction: column;
    height: 40.6rem;
    margin-top: 4.2rem;
    margin-bottom: 0;
    padding: 0 3.7rem ;
    text-align: center;
}

.banner__tittle {
    color: var(--color-font1);
    font-size: 4rem;
    padding-top: 7rem;
} 

.buttom__banner {
    background-color: var(--color-font1);
    color: var(--color-secundary);
    margin: 0;
    margin-top: 4rem;
}


/* -------- FOOTER -------- */
.footer__container {
    background-color: var(--color-thirted);
    color: var(--color-font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 3rem 0 3rem;
}

.footer__container a {
    color: var(--color-font1);
    text-align: center;
    text-decoration: none;
}

.footer__search {
    margin-bottom: 5rem;
}

.search__formulary {
    height: 4.4rem;
}

.search__input {
    border: none;
    border-radius: 5rem;
    font-family: 'Be Vietnam', sans-serif;
    height: 100%;
    outline: 0;
    padding: 1rem;
    width: 24.4rem;
}

.buttom__formulary {
    background-color: var(--color-secundary);
    border: none;
    display: inline-block;
    font-weight: 600;
    padding: 1rem;
    margin-left: 0.5rem;
    margin-top: 0;
    width: 6.3rem;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
    margin-bottom: 5rem;
}

.nav__list,
.conditions__list {
    list-style: none;
}

.nav__item,
.conditions__items {
    margin-bottom: 1.2rem;
}
/* END MAIN */


/* FOOTER */

.footer__social {
    display: flex;
    margin-bottom: 5rem;
}
.section__social {
    width: 100%;
}

.social__list {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    list-style: none;
}

.social__item {
    height: 30px;
    text-align: center;
    width: 30px;
}



.social__item a {
    display: block;
}

.social__item i {
    font-size: 3rem;
    transition: all 1s;
}

.social__item a:hover {
    transform: scale(1.5);
}

.instagram {
    background-color: white;
    border-radius: 40px;
    height: 30px;
}

.instagram i {
    color: var(--color-thirted);
    font-size: 15px;
    margin-top: 8px;
    padding-bottom: 7px;
}

.footer__logo img {
    transition: all 1s;
}

.footer__logo:hover {
    transform: scale(1.2);

}

.footer__copyright {
    color: var(--color-font2);
    margin-top: 5rem;
    text-align: center;
}