@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
:root {
    --color-menuMobile: rgb(143, 148, 167);
    --color-font1: #FFFFFF;
    --color-font2: #B3B2B7;
    --color-font3: #000000;
    --color-primary: #232851;
    --color-secundary: #F3603C;
    --color-thirted: #1d1e25;
    --color-secundary-Trans: #f3613c23;
    --color-fondo: #FAFAFA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 62.5%;
}

h2 {
    color: var(--color-primary);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.6;
}

p, a {
    color: var(--color-font2);
    font-size: 1.6rem; 
    text-decoration: none;
}

/* -------- HEADER -------- */

.header__container {
    margin: 0 3rem;
    padding-top: 4rem;
}

.header__menu {
    width: 100%;
}

.logo {
    display: inline-block;
}

.logo__menu img {
    margin-top: 1rem;
}

.burguer__container {
    display: inline-block;
    padding: 0.4rem 0.7rem;
    position: absolute;
    right: 3rem;
    top: 4.1rem;
    z-index: 1;
}

.burguer__container:hover {
    background-color: var(--color-secundary);
}

.burguer__container img {
    height: 100%;
    padding-top: 0.5rem;
}

/* Menu Burguer */

#menu__burguer {
    display: none;
}

#menu__burguer:checked ~ .menu__content {
    margin: -30px;
    margin-top: -7.8rem;
    padding: 7.5rem 0;
    transition: 1s;
    width: 100vw;
}

.menu__content {
    background-color: var(--color-menuMobile);
    margin-left: -3rem;
    margin-top: -150%;
    position: absolute;
    width: 100%;
}
/* end burguer */

.menu__list {
    display: flex;
    flex-direction: column;
}

.list__items {
    height: 6rem;
    list-style: none;
    text-align: center;
}

.list__items a {
    color: var(--color-font1);
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    height: 100%;
    padding-top: 2rem;
    text-decoration: none;
    width: 100%;
    border-radius: 1.5rem;
}

.list__items a:hover{
    background-color: var(--color-secundary);
}

.header__buttom {
    display: none;
}
/* -------- END HEADER -------- */


/* -------- MAIN -------- */

.main {
    margin-top: 7rem;
}

.main__home {
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    height: 68.5rem;

}

.illustration__container img {
    width: 100%;
}

.home__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.home__text h2 {
    color: var(--color-primary);
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
}

.home__text p {
    color: var(--color-font2);
    line-height: 1.6;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.buttom {
    color: var(--color-font1);
    background-color: var(--color-secundary);
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    width: 13.4rem;
    box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.54);
    align-self: center;
}

.buttom:hover {
    background-color: var(--color-font1);
    color: var(--color-secundary);
    border: 1px solid var(--color-secundary);
    box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.54);
}

.buttom__illustration {
    margin: 0 auto;
    margin-top: 3.6rem;
}

.main__about {
    margin-top: 10rem;
    text-align: center;
}

.about__question {
    margin: 0 2.5rem;
}

.question__text {
    color: var(--color-font2);
    margin-top: 3rem;
}

.about__step {
    margin: 0 0 0 1.5rem;
    margin-top: 5.5rem;
}

.step__list {
    list-style: none;
}

.step__item {
    margin-bottom: 5.4rem;
}

.item__content {
    align-items: center;
    background-color: var(--color-secundary-Trans);
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 5rem;
    display: flex;
    min-height: 4.5rem;
    justify-content: center;
}

.item__buttom {
    align-self: center;
    font-size: 1.6rem;
    margin: 0;
    padding: 1rem 2.5rem;
    width: 6.8rem;
    box-shadow: none;
}

.item__buttom:hover {
    background-color: var(--color-secundary);
    color: var(--color-font1); 
    box-shadow: none;
    border: none;
}

.item__tittle {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 700;
    height: 4.3rem;
    margin: 0;
    padding: 1rem 0 0 0.5rem;
    text-align: start;
    width: 100%;
}

.item__text {
    color: var(--color-font2);
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-top: 1.8rem;
    margin-right: 2.6rem;
    text-align: start;
}

.main__testimony {
    height: 120rem;
}

.testimony__container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimony {
    background-color: var(--color-fondo);
    margin: 4.6rem 18px;
    margin-top: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    text-align: center;
}

.testimony__photo {
    height: 7rem;
    margin: 0 auto;
    width: 7rem;
}

.testimony__photo img {
    width: 100%;
    position: relative;
    top: -35px;
}

.testimony__name {
    color: var(--color-primary);
    font-weight: 700;
    margin-bottom: 2.9rem;
}

.testimony__text {
    font-size: 1.5rem;
}

.buttom__testimony {
    align-self: center;
}

.main__banner {
    align-items: center;
    background-color: var(--color-secundary);
    display: flex;
    flex-direction: column;
    height: 40.6rem;
    margin-top: 4.2rem;
    margin-bottom: 0;
    padding: 0 3.7rem ;
    text-align: center;
}

.banner__tittle {
    color: var(--color-font1);
    font-size: 4rem;
    padding-top: 7rem;
} 

.buttom__banner {
    background-color: var(--color-font1);
    color: var(--color-secundary);
    margin: 0;
    margin-top: 4rem;
}
/* -------- END MAIN -------- */

/* -------- FOOTER -------- */
.footer__container {
    background-color: var(--color-thirted);
    color: var(--color-font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 3rem 0 3rem;
}

.footer__logo {
    /* color: var(--color-font1); */
    text-align: center;
    text-decoration: none;
    /* background-color: brown; */
    height: 3rem;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.footer__logo .logo {
    height: 100%;
}

.footer__logo .logo::before {
    content: url('../image/logoEsf.svg');
    position: relative;
    bottom: 9px;
}

.footer__logo .logo img {
    height: 100%;
}

.footer__search {
    margin: 0 auto;
    margin-bottom: 5rem;
}

.search__formulary {
    height: 4.4rem;
}

.search__input {
    border: none;
    border-radius: 5rem;
    font-family: 'Be Vietnam', sans-serif;
    height: 100%;
    outline: 0;
    padding: 1rem;
    width: 20rem;
    font-size: 1.3rem;
}

.buttom__formulary {
    background-color: var(--color-secundary);
    border: none;
    display: inline-block;
    font-weight: 600;
    padding: 1rem;
    margin-left: 0.5rem;
    margin-top: 0;
    width: 6.3rem;
    height: 4.2rem;
}

.buttom__formulary:hover {
    border: none;
    /* box-shadow: 3px 4px 8px 0px var(--color-fondo); */
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
    margin-bottom: 5rem;
}

.nav__list,
.conditions__list {
    list-style: none;
}

.nav__item,
.conditions__items {
    margin-bottom: 1.2rem;
}

.footer__social {
    display: flex;
    margin-bottom: 5rem;
}
.section__social {
    width: 100%;
}

.social__list {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    list-style: none;
}

.social__item {
    height: 30px;
    text-align: center;
    width: 30px;
}

.social__item a {
    display: block;
}

.social__item i {
    font-size: 3rem;
    transition: all 1s;
}

.social__item a:hover {
    transform: scale(1.5);
}

.instagram {
    background-color: white;
    border-radius: 40px;
    height: 30px;
}

.instagram i {
    color: var(--color-thirted);
    font-size: 15px;
    margin-top: 8px;
    padding-bottom: 7px;
}

.footer__logo img {
    transition: all 1s;
}

.footer__logo:hover {
    transform: scale(1.2);
}

.footer__copyright {
    color: var(--color-font2);
    font-size: 1.3rem;
    margin-top: 5rem;
    text-align: center;
}

/* -------- END FOOTER -------- */

/* -------- TABLET 768PX -------- */
@media (min-width: 768px) {
    
    /* -------- HEADER -------- */
    .header__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        flex-wrap: wrap;
        margin-top: 6rem;
        max-width: 110rem;
        width: 90%;
        min-height: 5rem;
        padding: 0;
        min-width: 70rem;
    }

    .logo-menu {
        height: 100%;
    }

    .logo-menu img   {
        margin: 0;
    }

    .header__menu {
        width: auto;
    }

    /* burguer */

    .burguer__container {
        display: none;
        padding: 0;
        position: static;
    }

    #menu__burguer:checked ~ .menu__content {
        margin: 0;
        padding: 0;
        transition: none;
        width: 0;
    }

    .menu__content {
        background-color: transparent;
        margin: 0;
        height: 5rem;
        position: static;
    }

    .menu__list {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 100%;
    }

    .list__items {
        height: 100%;
    }
    
    .list__items a {
        color: var(--color-primary);
        font-size: 1.4rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        padding-top: 1.6rem;
        width: auto;

    }

    .header__buttom {
        display: inline;
        font-size: 1.3rem;
        font-weight: 500;
    }
    /* end burguer */


    /* -------- MAIN -------- */

    .main__home {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 39.8rem;
        margin: 0 auto;
        max-width: 110rem;
        min-width: 70rem;
        width: 90%;
    }

    .home__illustration {
        width: 43vw;
    }

    .home__text {
        margin: 0;
        width: 50%;
    }


    .home__text h2 {
        align-items: center;
        line-height: 4.6rem;
        text-align: start;
    }

    .home__text p {
        color: var(--color-font3);
        margin-top: 2.8rem;
        text-align: justify;
    }

    .buttom__illustration {
        margin: 0 auto;
    }

    .main__about {
        display: flex;
        gap: 17rem;
        justify-content: center;
        margin: 0 auto;
        margin-top: 10rem;
        max-width: 111rem;
        width: 90%;
    }

    .about__question {
        margin: 0;
        width: 31vw;
    }

    .question__tittle {
        text-align: start;
    }

    .question__tittle {
        font-size: 3.6rem;
        line-height: 4.6rem;
        text-align: start;
    }

    .question__text {
        color: var(--color-font3);
        line-height: 157.1%;
        text-align: start;
    }

    .about__step {
        margin: 0;
        padding-top: 1.5rem;
        width: 43vw;
    }

    .item__buttom {
        align-self: center;
        font-weight: 500;
        padding-top: 1.1rem;
    }

    .item__tittle {
        padding-left: 0.5rem;
    }
    .main__testimony {
        height: auto;
        margin: 0 auto;
        max-width: 110rem;
        min-width: 70rem;
        width: 90%;
    }

    .testimony__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .testimony {
        margin: 0;
        margin-top: 10rem;
        min-width: 34rem;
        width: 30vw;
    }

    .testimony:hover {
        transform: scale(1.2);
        transition: all 1s;
        color: var(--color-font3);
    }
    
    .main__banner {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        height: 22.4rem;
        justify-content: center;
        padding: 0;
        margin-top: 10rem;
    }

    .banner__tittle {
        margin: 0 auto;
        padding: 0;
        text-align: start;
        width: 50vw;
    }

    .buttom__banner {
        margin: 0 auto;
    }
    /* -------- END MAIN -------- */


    /* -------- FOOTER -------- */
    .footer__container {
        padding: 0;
        padding-top: 5rem;
    }

    .footer__container a{
        color: var(--color-font1);
    }

    .footer__logo {
        align-self: center;
        height: 3rem;
        margin: 0 auto;
        margin-bottom: 7rem;
        margin-top: 2rem;
        order: -1;
    }

    .logo__white {
        height: 100%;
    }

    .footer__search {
        margin: 0 auto;
        margin-bottom: 5rem; 
        width: 45vw;

    }

    .search__formulary {
        margin: 0 auto;
        text-align: center;
    }
    
    .footer__menu {
        justify-content: space-evenly;
        margin: 0 auto;
        margin-bottom: 5rem;
        width: 45vw;
    }

    .section__social {
        margin: 0 auto;
        width: 45vw;
    }
}

@media(min-width: 1000px) {

    .main__home {
        gap: 1.6rem;
        height: auto;
        justify-content: space-between;
    }
    .home__text {
        order: -1;
        width: 35rem;
    }

    .testimony__group {
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .footer__container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.7rem;
        justify-content: space-evenly;
    }

    .footer__logo,  
    .footer__menu, 
    .footer__search ,
    .footer__social, 
    .footer__copyright{
        margin: 0;
    }

    .footer__menu {
        max-width: 34.2rem;
        justify-content: space-between;
    }

    .footer__search {
        width: auto;
    }

    .section__social {
        width: 59rem;
    }

    .social__list {
        width: 50%;
    }
}